<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="stylesheets/mystylesheet.css">
    <title><%= title %></title>
</head>
<body>
<%- include headfile.ejs %>
<div id="content">
    <p></p>
    <h2><%= title %></h2>
    <p> Text Here </p>
    <%- include footfile.ejs %>
</div>

</body>
</html>